/*! Place your custom styles here */
.nav-sidebar-column {

    width: 17.429em !important;
}
.height-400 {
    height: 400px;
}

.width-50 {
    width: 50% !important;
}

.width-100 {
   width: 100% !important; 
}
.bgWheat {
    background-color: white;
}
.bgWhite {
    background-color: white;
}
.sectionNoPadding {
     padding-top: 1.71428571em !important;
    padding-bottom: 1.71428571em !important;   
}

#menu2 {
	background-color: #5a5a5a80;
	padding: 1.357em 0;
}

section.space--xs, footer.space--xs {
    padding-top: 1.71428571em !important;
    padding-bottom: 1.71428571em !important;
}

.menu-horizontal > li:not(:hover) > a, .menu-horizontal > li:not(:hover) > span, .menu-horizontal > li:not(:hover) > .modal-instance > .modal-trigger {

    opacity: 0.9;
    font-size: 1.2em;

}
.nav-sidebar-column {

	overflow: hidden;
}
.bg--dark {
	background: #252525cc;
	}
s
p a, span a, label a {
	text-decoration: none;
}
input[type], textarea, select {
    -webkit-appearance: none;
    background: #f6f6f6;
    border: 1px solid #b7b7b7;
}
.danger {
    color: #d73c3c;
    font-weight: bold !important;
}
.success {
	color: #278c12 !important;
	font-weight: bold !important;
}
div[class*="col-"] .text-block + .text-block {
    margin-top: 1.714em;
}
div[class*="col-"] .text-block + .text-block {
    margin-top: 1.71428571em;
}
#logo_user {
    max-height: 15.321em;
}
.user_menu_title {
    padding-left: 1em;
}
#user_btn_deconnecter {
    margin-left: 2em;
}
#user_groupe {
    background-color: whitesmoke;
    width: 60%;
    margin: auto;
    height: 80%;
    padding-top: 56px;
    top: 100px;
    position: relative;
}
#admin_groupe {
    background-color: whitesmoke;
    width: 60%;
    margin: auto;
    height: 80%;
    top: 100px;
    position: relative;
}

#custimSection {
    padding: 2em;
}

#user_groupe section {
    padding-top: 1em;
}

#section_groupe_create {
    padding-bottom: 1em !important;
}
#dropfile{
width: 300px;
height: 115px;
border: 3px dashed #BBBBBB;
line-height:50px;
text-align: center;
font-size: 1.2em;
}
#img_groupe_create {
    max-width: 80%;
    margin-bottom: 0.9em;
   
}
.padding11 {
       padding: 1.1em;
}
.image_groupe_detail {
 max-height: 500px;
}

.chatBox {

border: 1px solid grey;
width: 100%;
padding: 0.5em;
max-height: 500px;
padding: 10px !important;
margin: 0 !important;

}
.persoChatbox {
    flex-direction: column;
align-items: flex-start;
}
.groupes_events {
    margin-top: 20px;
    padding: 0 20px;
}
.thumbnail {
    padding:0px;
}
.panel {
    position:relative;
}
.panel>.panel-heading:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
}
.panel>.panel-heading:before{
    border-right-color:#ddd;
    border-width:8px;
}

.sideMenuGroupe {
    border: 1px solid ;
}

.groupe_icon {
    position: relative;
    top: 7px;
}
#upl_img_user {
    -webkit-appearance: none;
    background: #f6f6f6;
    border: 1px solid white !important;
}

.groupe_show_recherche {
    padding: 5px;
    border: 1px solid #898989;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0px !important;
}
.groupe_show_recherche:hover {
    background-color: #ededed;
}


.img_groupe_recherche {
    max-height: 250px;
}

.wrapper_groupe_show {
    justify-content: center;
display: flex;
flex-direction: column;
}

.button_invit {
 padding: 0.5em !important;
}

#modalCréeEvement {
    width: 9.5em;

}

#loadingChatZone {
    margin-top: 25px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.customLoader {
  border: 16px solid #4a90e2;
  border-radius: 50%;
  border-top: 16px solid white;
  border-bottom: 16px solid white;
  width: 120px;
  height: 120px;
  -webkit-animation: spinChat 2s linear infinite;
  animation: spinChat 2s linear infinite;
}

@-webkit-keyframes spinChat {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinChat {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#groupeChatZone {
    display: none ;
}

.comments__list li {
    padding: 1.2em 2em !important;
}

.btn-event {
    min-width: 150px;
}

.buttonModifierContainer {

    top: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

}

.IModifierElement {

    font-size: 2em !important;
    margin: 0;
    padding: 0;
    top: 0 !important;
    color: #fefefe !important;

}

.eventzonegroupe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    border: 1px solid black;
}


.modalUpdateEvent {
    width: 9em;
    float: right;
    padding-top: 21px;
    margin-right: 30px;
}

.detail_event {
    padding-top: 10px !important;
}

.eventGroupeMembreCount {
    /* border: 1px solid black; */
}

.evenementTitre {
    font-size: 2rem;
    border: 1px dashed black;
    padding: 1em;
    border-radius: 1em;
}
.eventMiddleCol {
    background-color: white;
    padding: 2% !important;
}