/*! Place your custom styles here */

#menu2 {
	background-color: #5a5a5a80;
	padding: 1.357em 0;
}

section.space--xs, footer.space--xs {
    padding-top: 1.71428571em !important;
    padding-bottom: 1.71428571em !important;
}


.menu-horizontal > li:not(:hover) > a, .menu-horizontal > li:not(:hover) > span, .menu-horizontal > li:not(:hover) > .modal-instance > .modal-trigger {

    opacity: 0.9;
    font-size: 1.2em;

}
/*
.background-image-user {
    z-index: -1;
}
*/
.nav-sidebar-column {

	overflow: hidden;
}
.bg--dark {
	background: #252525cc;
	}
s
p a, span a, label a {
	text-decoration: none;
}

input[type], textarea, select {
    -webkit-appearance: none;
    background: #f6f6f6;
    border: 1px solid #b7b7b7;
}

.danger {
    color: #d73c3c;
    font-weight: bold !important;
}

.success {
	color: #278c12 !important;
	font-weight: bold !important;
}

div[class*="col-"] .text-block + .text-block {
    margin-top: 1.714em;
}
div[class*="col-"] .text-block + .text-block {
    margin-top: 1.71428571em;
}

#logo_user {
    max-height: 15.321em;
}

.user_menu_title {
    padding-left: 1em;
}

#user_btn_deconnecter {
    margin-left: 2em;
}

#user_groupe {
    background-color: whitesmoke;
    width: 60%;
    margin: auto;
    height: 80%;
    padding-top: 56px;
    top: 100px;
    position: relative;
}

#user_groupe section {
    padding-top: 1em;
}

#section_groupe_create {
    padding-bottom: 1em !important;
}
#dropfile{
width: 300px;
height: 115px;
border: 3px dashed #BBBBBB;
line-height:50px;
text-align: center;
font-size: 1.2em;
}

#img_groupe_create {
    max-width: 80%;
    margin-bottom: 0.9em;
   
}

.padding11 {
       padding: 1.1em;
}

.image_groupe_detail {
 max-height: 500px;
}

.chatBox {

border: 1px solid grey;
width: 100%;
padding: 0.5em;
max-height: 500px;
padding: 10px !important;
margin: 0 !important;

}
.persoChatbox {
    flex-direction: column;
align-items: flex-start;
}
.groupes_events {
    margin-top: 20px;
    padding: 0 20px;
}


.thumbnail {
    padding:0px;
}
.panel {
    position:relative;
}

.panel>.panel-heading:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
}
.panel>.panel-heading:before{
    border-right-color:#ddd;
    border-width:8px;
}

.sideMenuGroupe {
    border: 1px solid ;
}
.bgWheat {
    background-color: white;
}
.groupe_icon {
    position: relative;
    top: 7px;
}