/*! Place your custom styles here */

#menu2 {
	background-color: #5a5a5a80;
	padding: 1.357em 0;
}

.menu-horizontal > li:not(:hover) > a, .menu-horizontal > li:not(:hover) > span, .menu-horizontal > li:not(:hover) > .modal-instance > .modal-trigger {

    opacity: 0.9;
    font-size: 1.2em;

}


.background-image-user {
	height: 135vh;
}

.nav-sidebar-column {

	overflow: hidden;
}
.bg--dark {
	background: #252525cc;
	}
s
p a, span a, label a {
	text-decoration: none;
}

input[type], textarea, select {
    -webkit-appearance: none;
    background: #f6f6f6;
    border: 1px solid #b7b7b7;
}

.danger {
    color: #d73c3c;
    font-weight: bold !important;
}

.success {
	color: #278c12 !important;
	font-weight: bold !important;
}